  <!--   *** TEXT ***-->
  <section id="text" class="text-page section-inverse background-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>



</div>
</div>
</div>
</section>