
  <!--   *** TEXT ***-->
  <section id="text" class="text-page section-inverse background-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">


<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email' %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>



</div>
</div>
</div>
</section>