
 <!-- Side Navbar -->
  <nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <div class="sidenav-header-inner text-center">
          <h2 class="h5 text-uppercase">Rebecca Stone</h2><span class="text-uppercase">PhD student</span>
        </div>
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>T</strong><strong class="text-primary">L</strong></a></div>
      </div>
      <div class="main-menu">
        <ul id="side-main-menu" class="side-menu list-unstyled">

          <li class="<%= current_class?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= current_class?(root_path) %>"><%= link_to "My Log", root_path %></li>

          <li class="<%= current_class?(contact_path) %>"> <%= link_to "Contact", contact_path %></li>
          <li class="<%= current_class?(about_path) %>"> <%= link_to "Bug Log", about_path %></li>
          <li class="<%= current_class?(sign_out_path) %>"> <%= link_to 'Sign out', sign_out_path, method: :delete %></li>
   
        </ul>
      </div>
    </div>
  </nav>


